main{
    background-color: lightslategray;
}

header {
    background-color: plum;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hidden {
    display:none;
}

.bookmark-filter {
    background-color: limegreen;
}

.bookmark-new {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bookmark-item {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bookmark-title {
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-title {
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-title {
    background-color: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bookmark-dropdown {
    background-color: lightsalmon;
}

.edit-dropdown {
    background-color: lightsalmon;
}

.new-dropdown {
    background-color: lightsalmon;
}

.bookmark-edit {
    background-color: lightpink;
}